<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Depado</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        body {
            font-family: 'Roboto', serif;
            text-align: justify;
            margin: 40px auto;
            max-width: 650px;
            line-height: 1.6;
            font-size: 18px;
            color: #444;
            padding: 0 10px
        }

        h1,
        h2,
        h3 {
            line-height: 1.2
        }
    </style>
</head>

<body>
    <h1>Depado</h1>
    <h2>Paul Lhussiez</h2>
    <h2>Developer, Geek, New Technologies Enthusiast</h2>
    <br />
    <h3>About this page</h3>
    <pre>“Oh my god, all the CSS and JS is gone ! Such a bad developer…”</pre>
    <p>No. It's a choice. It's not a bug it's a feature.</p>
    <p>
        Why would I do that ? Is it to show a total lack of inspiration in the design of my personal website ? Or maybe it's because I actually want to prove that really, deep down in my heart I'm just a backend developer ?
    </p>
    <p>
        Or maybe I want to show you something else about me. Something that doesn't require JS or a bunch of CSS files. Maybe I just want to show you who I truly am, what I believe in, the stuff I've made without bragging too much about it.
    </p>
    <p>
        OK. There is some CSS in there, I'm even using the Roboto font. After all I still like to do pretty things.
    </p>
    <br />
    <h3>Open Source. Open Source EVERYTHING !</h3>
    <p>
        I believe in the open-source world. I believe in the community. I believe that someday the stuff I made when I was 23 will be somewhat useful to a little guy trying to learn things in the future. Why not after all ?
    </p>
    <p>
        It's all about helping people. Or let's put it another way, it's all about hoping that one day someone will find what I created useful. Not just the service or whatever the project is, but also the codebase. Getting inspired, learning new things.
    </p>
    <p>
        Having your code open-source isn't everything. I think about the community first, I think that maybe someone will want to host the same service as I am right now. I put a lot of efforts to do things people can install easily.
    </p>
    <p>
        I mean alright, if someone wants the same thing as you, why don't they just take the code, modify it to fit their needs ? Problem solved. That's not the way I think.
    </p>
</body>

</html>
