{{ define "experience" }}
<div class="ui vertical stripe segment">
    <div class="ui container">
        <h3 class="ui header">Experience</h3>
        <div class="ui grid">
            <div class="four wide column"></div>
            <div class="twelve wide column">
                <div class="ui items">
                    <div class="item">
                        <div class="image">
                            <img src="/static/img/defab.png" alt="defab">
                        </div>
                        <div class="middle aligned content">
                            <a class="header">2015-2016 Defab</a>
                            <div class="meta">
                                <span>Developer and Devops</span>
                            </div>
                            <div class="description">
                                <ul>
                                    <li>Implementing the best practices in a cloud environement at Outscale
                                        <ul>
                                            <li>Continuous integration with Drone CI</li>
                                            <li>Auto-generating documentation</li>
                                            <li>Automated deployment using Ansible</li>
                                            <li>Bastion architecture for security purpose</li>
                                            <li>Deployment of several services (Gogs, Drone CI, Piwik, Pydio)</li>
                                        </ul>
                                    </li>
                                    <li>Writing a microservice backup system in Go</li>
                                    <li>Writing a wrapper on top of the Boto lib</li>
                                    <li>Moving the company's website from WordPress to Go with Piwik as analytics engine</li>
                                </ul>
                                <br />
                            </div>
                            <div class="extra">
                                <div class="ui labels">
                                    <span class="ui label">Go</span>
                                    <span class="ui label">Gin</span>
                                    <span class="ui label">Microservices</span>
                                    <span class="ui label">Ansible</span>
                                    <span class="ui label">Python</span>
                                    <span class="ui label">Boto</span>
                                    <span class="ui label">Cloud</span>
                                    <span class="ui label">MySQL</span>
                                    <span class="ui label">SQLite</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="item">
                        <div class="image">
                            <img src="/static/img/oop_white.png" alt="oop">
                        </div>
                        <div class="middle aligned content">
                            <a class="header">2014-2015 OutOfPluto</a>
                            <div class="meta">
                                <span>Junior Django Developer (Sandwich Course)</span>
                            </div>
                            <div class="description">
                                <ul>
                                    <li>Working on multiple Django projects
                                        <ul>
                                            <li>Adding features</li>
                                            <li>Bug fixing</li>
                                            <li>Production deployment</li>
                                        </ul>
                                    </li>
                                    <li>Adding database migrations</li>
                                    <li>Working on some electronic projects</li>
                                </ul>
                            </div>
                            <div class="extra">
                                <div class="ui labels">
                                    <span class="ui label">Python</span>
                                    <span class="ui label">Django</span>
                                    <span class="ui label">MySQL</span>
                                    <span class="ui label">Project Management</span>
                                    <span class="ui label">Electronic</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="item">
                        <div class="image">
                            <img src="/static/img/mobeye.png" alt="mobeye">
                        </div>
                        <div class="content">
                            <a class="header">2013-2014 Mobeye</a>
                            <div class="meta">
                                <span>Junior Django Developer (Sandwich Course)</span>
                            </div>
                            <div class="description">
                                <ul>
                                    <li>Working on a Django app
                                        <ul>
                                            <li>Rest API</li>
                                            <li>Django admin interface customisation</li>
                                            <li>Implementing a monitoring dashboard template</li>
                                            <li>Working with real time data using socket.io and node.js</li>
                                        </ul>
                                    </li>
                                    <li>Automating deployment using Ansible</li>
                                </ul>
                            </div>
                            <div class="extra">
                                <div class="ui labels">
                                    <span class="ui label">Python</span>
                                    <span class="ui label">Django</span>
                                    <span class="ui label">Ansible</span>
                                    <span class="ui label">PostgreSQL</span>
                                    <span class="ui label">Socket.io</span>
                                    <span class="ui label">node.js</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
