<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Depado</title>
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
    <div class="ui top fixed hidden menu">
        <div class="ui container">
            <a class="item" href="#about">Me</a>
            <a class="item" href="#projects">Projects</a>
            <a class="item" href="#skills">Skills</a>
            <a class="item" href="#experience">Experience</a>
        </div>
    </div>
    <div class="ui vertical inverted sidebar menu">
        <a class="item" href="#about">Me</a>
        <a class="item" href="#projects">Projects</a>
        <a class="item" href="#skills">Skills</a>
        <a class="item" href="#experience">Experience</a>
    </div>
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment" id="burst">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="item" href="#about">Me</a>
                    <a class="item" href="#projects">Projects</a>
                    <a class="item" href="#skills">Skills</a>
                    <a class="item" href="#experience">Experience</a>
                </div>
            </div>
            <div class="ui text container">
                <h1 class="ui inverted header">Depado</h1>
                <h2>Paul Lhussiez<br />Developer, Geek, New Technologies Enthusiast</h2>
                <br />
                <a href="https://github.com/Depado" target="_blank" data-content="Github" class="with-popup">
                    <i class="white fa fa-2x fa-github"></i>
                </a>&nbsp;&nbsp;
                <a href="http://stackoverflow.com/users/1343321/depado" target="_blank" data-content="StackOverflow" class="with-popup">
                    <i class="white fa fa-stack-overflow fa-2x"></i>
                </a>&nbsp;&nbsp;
                <a href="https://plus.google.com/u/0/114932755645700075856" target="_blank" data-content="Google+" class="with-popup">
                    <i class="white fa fa-google-plus-square fa-2x"></i>
                </a>&nbsp;&nbsp;
                <a href="http://depado.markdownblog.com" target="_blank" data-content="Blog" class="with-popup">
                    <i class="white fa fa-file-text fa-2x"></i>
                </a>&nbsp;&nbsp;
                <a href="https://twitter.com/Depado_" target="_blank" data-content="Twitter" class="with-popup">
                    <i class="white fa fa-twitter fa-2x"></i>
                </a>&nbsp;&nbsp;
                <a href="https://soundcloud.com/depado" target="_blank" data-content="Soundcloud" class="with-popup">
                    <i class="white fa fa-soundcloud fa-2x"></i>
                </a>&nbsp;&nbsp;
                <a href="https://fr.linkedin.com/in/paul-lhussiez-7b55664a" target="_blank" data-content="LinkedIn" class="with-popup">
                    <i class="white fa fa-linkedin fa-2x"></i>
                </a>&nbsp;&nbsp;
            </div>
        </div>

        <div class="ui vertical stripe segment" id="about">
            <div class="ui container">
                <h3 class="ui header">About me</h3>
                <p>
                    My name is Paul Lhussiez and I'm a 23 years old passionate developer. People usually call me Depado. It's my nickname quite everywhere on internet.
                </p>
                <p>
                    I currently live in Paris, and I'm available for hire. In this website you'll find some information about me, such as my projects, experience, skills… If you wish to learn more about my personnality, you can head to <a href="/about">this page</a>.
                </p>
                <p>
                    I'm mostly interested in the Go programming language for the backend side. I'm polyvalent, I can administrate servers, automate deployments, and I enjoy working with a cloud provider such as Outscale and Scaleway. I love APIs ! ♥
                </p>
            </div>
        </div>
        {{ template "projects" . }} {{ template "skills" }} {{ template "experience" }}

    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/css/semantic/semantic.min.js"></script>
    <script src="static/js/mo.min.js"></script>
    <script>
        $(document).ready(function() {
            // Popup init
            $('.with-popup').popup({
                position: 'bottom center',
            });
            // Following menu init
            $('.masthead').visibility({
                once: false,
                onBottomPassed: function() {
                    $('.fixed.menu').transition('fade in');
                },
                onBottomPassedReverse: function() {
                    $('.fixed.menu').transition('fade out');
                }
            });
            // Sidebar init
            $('.ui.sidebar').sidebar('attach events', '.toc.item');
            // Smooth scrolling init
            $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 500);
                        return false;
                    }
                }
            });
        });

        var el = document.getElementById('burst');
        setInterval(function() {
            var randomStrokeWidth = (10 + Math.random() * 10);
            var strokeWidth = {};
            strokeWidth[randomStrokeWidth] = 0;

            new mojs.Transit({
                parent: el,
                type: 'circle',
                radius: {
                    0: 30 + (Math.random() * 70)
                },
                fill: 'transparent',
                stroke: 'white',
                strokeWidth: strokeWidth,
                easing: mojs.easing.quart.out,
                duration: 1300 + (Math.random() * 1500),
                count: 10,
                delay: 200,
                opacity: .1,
                x: (Math.random() * 100) + '%',
                y: (90 + Math.random() * 10) + '%',
                onComplete: function() {
                    this.el.parentNode.removeChild(this.el);
                }
            });
        }, 300);
    </script>
</body>

</html>
