<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Depado</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/custom.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment" id="burst">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="item overanimate">Me</a>
                    <a class="item overanimate">Projects</a>
                    <a class="item overanimate">Experience</a>
                </div>
            </div>
            <div class="ui text container">
                <h1 class="ui inverted header">Depado</h1>
                <h2>Paul Lhussiez<br />Developer, Geek, New Technologies Enthusiast</h2>
                <br />
                <a href="https://github.com/Depado" target="_blank" data-content="Github" class="with-popup">
                    <i class="white fa fa-2x fa-github"></i>
                </a>&nbsp;&nbsp;
                <a href="http://stackoverflow.com/users/1343321/depado" target="_blank" data-content="StackOverflow" class="with-popup">
                    <i class="white fa fa-stack-overflow fa-2x"></i>
                </a>&nbsp;&nbsp;
                <a href="https://plus.google.com/u/0/114932755645700075856" target="_blank" data-content="Google+" class="with-popup">
                    <i class="white fa fa-google-plus-square fa-2x"></i>
                </a>&nbsp;&nbsp;
                <a href="http://depado.markdownblog.com" target="_blank" data-content="Blog" class="with-popup">
                    <i class="white fa fa-file-text fa-2x"></i>
                </a>&nbsp;&nbsp;
                <a href="https://twitter.com/Depado_" target="_blank" data-content="Twitter" class="with-popup">
                    <i class="white fa fa-twitter fa-2x"></i>
                </a>&nbsp;&nbsp;
                <a href="https://soundcloud.com/depado" target="_blank" data-content="Soundcloud" class="with-popup">
                    <i class="white fa fa-soundcloud fa-2x"></i>
                </a>&nbsp;&nbsp;
                <a href="https://fr.linkedin.com/in/paul-lhussiez-7b55664a" target="_blank" data-content="LinkedIn" class="with-popup">
                    <i class="white fa fa-linkedin fa-2x"></i>
                </a>&nbsp;&nbsp;
            </div>

        </div>

        {{ template "projects" . }}
        {{ template "skills" }}

        <div class="ui vertical stripe segment">
            <div class="ui container">
                <h3 class="ui header">Skills</h3>
                <div class="ui fluid centered cards">
                    <div class="ui card">
                        <div class="content">
                            <div class="header">
                                Go
                                <div class="ui right floated">
                                    <span class="ui basic green circular label">Backend</span>
                                    <span class="ui basic teal circular label">CLI</span>
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                            Go is language I'm currently in love with. It is efficient, compiles to native binaries and has a really interesting concurrency model.
                        </div>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="eight wide column">
                        <div>
                            <b>Go</b>
                            <span class="ui basic green circular label right floated">Backend</span>
                            <span class="ui basic teal circular label right floated">CLI</span>
                        </div>
                        <div class="ui items">
                            <div class="item">
                                <div class="content">
                                    <div class="header">
                                        Go
                                    </div>
                                    <div class="meta">
                                        <span class="ui basic green circular label right floated">Backend</span>
                                        <span class="ui basic teal circular label">CLI</span>
                                    </div>
                                    <div class="description">
                                        <p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <span class="header">Python</span>
                                    <div class="meta">
                                        <span class="ui basic green circular label">Backend</span>
                                        <span class="ui basic teal circular label">CLI</span>
                                    </div>
                                    <div class="description">
                                        <p>Python was the first language I truly enjoyed.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui container">
                <h3 class="ui header">Projects</h3>
            </div>
        </div>

    </div>
    <script src="static/jquery.min.js"></script>
    <script src="static/semantic.min.js"></script>
    <script src="static/mo.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.with-popup').popup({
                position: 'bottom center',
            });
        });

        var el = document.getElementById('burst');
        setInterval(function() {
            var randomStrokeWidth = (10 + Math.random() * 10);
            var strokeWidth = {};
            strokeWidth[randomStrokeWidth] = 0;

            new mojs.Transit({
                parent: el,
                type: 'circle',
                radius: {
                    0: 30 + (Math.random() * 70)
                },
                fill: 'transparent',
                stroke: 'white',
                strokeWidth: strokeWidth,
                easing: mojs.easing.quart.out,
                duration: 1300 + (Math.random() * 1500),
                count: 10,
                delay: 200,
                opacity: .1,
                x: (Math.random() * 100) + '%',
                y: (90 + Math.random() * 10) + '%',
                onComplete: function() {
                    this.el.parentNode.removeChild(this.el);
                }
            });
        }, 300);
    </script>
</body>

</html>
