{{ define "projects" }}
<div class="ui vertical stripe segment" id="projects">
    <div class="ui container">
        <h3 class="ui header">Projects</h3>
        <p>
            In this section I'll present to you some of my personnal projects. The data displayed here are automatically fetched using the API of my <a href="https://monit.depado.eu" target="_blank">monitoring service</a>. If you wish to get more information
            on these projects you can either check the website, the github repository or the monitoring service which holds more data (commit history, build history, response time…)
        </p>
        <p>
            All these projects are open-source, most of them are under the <a href="https://en.wikipedia.org/wiki/MIT_License" target="_blank">MIT License</a> or the <a href="http://www.wtfpl.net/" target="_blank">WTFPL</a>. I'm open to pull requests
            for all these (or even for projects on my Github account that are not listed here).
        </p>
        <p>
            The color of the card determines whether or not the service is running. Green if the service is up, red if the service isn't. Clicking on the build status will get you to the build server. To access the service, simply click on the short url written under
            the project's name.
        </p>
        <br />
        <br />
    </div>
    <div class="ui centered cards container">
        {{ range $index, $element := .services }}
            <div class="ui card {{ if eq .Status 200 }}green{{ else if eq .URL "" }}green{{ else }}red{{ end }}">
                <div class="content">
                    <img class="right floated mini ui image" {{ if .Icon }}src="{{ $.monit_root }}{{ .Icon }}" alt="{{ .Name }}" {{ end }}>
                    <div class="header"><span style="color: rgba(0,0,0,.85);">{{ .Name }}</span></div>
                    <div class="meta">
                        {{ if eq .ShortURL "" }}-{{ else }}<a href="{{ .URL }}" target="_blank">{{ .ShortURL }}</a> {{ end }}
                    </div>
                    {{ if .Description }}
                        <div class="description">
                            {{ .Description }}
                        </div>
                    {{ end }}
                </div>
                {{ if or .RepoURL .LastBuild }}
                <div class="extra content">
                    {{ if .RepoURL }}
                    <a href="{{ .RepoURL}}" target="_blank" style="color:#6A6AFF;"><i class="github alternate icon"></i> Repository</a>
                    <br /> {{ else }}
                    <i class="github alternate icon"></i> No Repository
                    <br /> {{ end }} {{ if .LastBuild }} {{ if eq .LastBuild.Status "success" }}
                    <a href="{{ .BuildURL }}" target="_blank" style="color:#21BA45;"><i class="configure icon"></i> Success</a> {{ else if eq .LastBuild.Status "pending"}}
                    <a href="{{ .BuildURL }}" target="_blank" style="color:#ffb347;"><i class="configure icon"> Pending</i></a> {{ else if eq .LastBuild.Status "failure"}}
                    <a href="{{ .BuildURL }}" target="_blank" style="color:#DB2828;"><i class="configure icon"></i> Failure</a> {{ else }}
                    <i class="configure icon"></i> No Build {{ end }} {{ else }}
                    <i class="configure icon"></i> No Build {{ end }}
                </div>
                <div class="extra content" style="text-align: center;">
                    {{ if .RepoURL }}
                    <a href="{{ .RepoURL }}/stargazers" target="_blank">
                        <button class="ui tiny teal basic compact labeled icon button"><i class="star icon"></i>{{ .RepoStars }}</button>
                    </a>
                    <a href="{{ .RepoURL }}/network" target="_blank">
                        <button class="ui tiny teal basic compact labeled icon button"><i class="fork icon"></i>{{ .RepoForks }}</button>
                    </a>
                    <a href="{{ .RepoURL }}/watchers" target="_blank">
                        <button class="ui tiny teal basic compact labeled icon button"><i class="eye icon"></i>{{ .RepoWatchers }}</button>
                    </a>
                    {{ else }}
                    <button class="ui tiny disabled teal basic compact labeled icon button"><i class="star icon"></i>-</button>
                    <button class="ui tiny disabled teal basic compact labeled icon button"><i class="fork icon"></i>-</button>
                    <button class="ui tiny disabled teal basic compact labeled icon button"><i class="eye icon"></i>-</button>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
