 {{ define "skills" }}
<div class="ui vertical stripe segment">
    <div class="ui container">
        <h3 class="ui header">Skills</h3>
        <p>
            In this section I'll present to you my skill set. Most of the items described here will have related projects that will be found on the bottom of the card describing the skill. You can hover the different projects to see the stack used for each one.
        </p>
        <div class="ui two column stackable grid">
            <div class="column">
                <div class="ui raised segment">
                    <span class="ui red ribbon label">Languages</span>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Go
                                <div class="ui right floated">
                                    <span class="ui basic olive circular label">System</span>
                                    <span class="ui basic green circular label">Backend</span>
                                    <span class="ui basic teal circular label">CLI</span>
                                </div>
                            </div>
                            <div class="meta">
                                Versions : 1.3 to 1.6+
                            </div>
                        </div>
                        <div class="extra content">
                            Go is language I'm currently in love with. It is efficient, compiles to native binaries and has a really interesting concurrency model.
                        </div>
                        <div class="extra content">
                            <div class="ui labels">
                                <a class="ui label with-popup" href="https://github.com/Depado/goploader" target="_blank" data-content="Go, Gin, BoltDB">Goploader</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/gomonit" target="_blank" data-content="Go, Gin">Gomonit</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/ircblinker" target="_blank" data-content="Go">ircblinker</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/go-b0tsec" target="_blank" data-content="Go, BoltDB">go-b0tsec</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/portfolio" target="_blank" data-content="Go, Gin">Portfolio</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/portfolio.v2" target="_blank" data-content="Go, Gin">Portfolio.V2</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/jagon-api" target="_blank" data-content="Go, Gin">Jagon-API</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/govue" target="_blank" data-content="Go, Gin, Vue.js, BoltDB">GoVue</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/gofip" target="_blank" data-content="Go">GoFIP</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/kimsuchecker" target="_blank" data-content="Go">Kimsuchecker</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/gopaste" target="_blank" data-content="Go, Goji, SQLite">Gopaste</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Python
                                <div class="ui right floated">
                                    <span class="ui basic green circular label">Backend</span>
                                    <span class="ui basic teal circular label">CLI</span>
                                </div>
                            </div>
                            <div class="meta">
                                Versions : 2.7 or 3.6+
                            </div>
                        </div>
                        <div class="extra content">
                            Python is the language I worked the most with. I mainly work with the 3.x version (currently 3.6).
                        </div>
                        <div class="extra content">
                            <div class="ui labels">
                                <a class="ui label with-popup" href="https://github.com/Depado/MarkDownBlog" target="_blank" data-content="Python, Flask, SQLAlchemy, SQLite">MarkDownBlog</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/flask-skeleton" target="_blank" data-content="Python, Flask, Jinja2">Flask-Skeleton</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/intrepid-frontend" target="_blank" data-content="Python, Flask">IntrePId-Frontend</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/LostInNetwork" target="_blank" data-content="Python, Flask, SQLAlchemy, SQLite">LostInNetwork</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/LostInNetworkWeb" target="_blank" data-content="Python, Flask">LostInNetwork Web</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/b0tsec" target="_blank" data-content="Python">b0tsec</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/yasrpg" target="_blank" data-content="Python">YASRPG</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Javascript
                                <div class="ui right floated">
                                    <span class="ui basic yellow circular label">Frontend</span>
                                </div>
                            </div>
                            <div class="meta">
                                Versions : I don't care ?
                            </div>
                        </div>
                        <div class="extra content">
                            I mainly use Javascript on the front side, and it's only because I have to. I did only one node.js project.
                        </div>
                        <div class="extra content">
                            <div class="ui labels">
                                <a class="ui label with-popup" href="https://github.com/Depado/UnicornChat" target="_blank" data-content="JS, Node.js, Express, Socket.io">UnicornChat</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui raised segment">
                    <span class="ui red ribbon label">Database</span>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                BoltDB
                                <div class="ui right floated">
                                    <span class="ui basic pink circular label">Key Value</span>
                                    <span class="ui basic green circular label">Backend</span>
                                </div>
                            </div>
                            <div class="meta">
                                <a href="https://github.com/boltdb/bolt" target="_blank" style="color:#6A6AFF;" class="with-popup" data-content="Github Repository"><i class="github alternate icon"></i></a>
                            </div>
                        </div>
                        <div class="extra content">
                            An embedded key/value database for Go.
                        </div>
                        <div class="extra content">
                            <div class="ui labels">
                                <a class="ui label with-popup" href="https://github.com/Depado/goploader" target="_blank" data-content="Go, Gin, BoltDB">Goploader</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/go-b0tsec" target="_blank" data-content="Go, BoltDB">go-b0tsec</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/govue" target="_blank" data-content="Go, Gin, Vue.js, BoltDB">GoVue</a> </div>
                        </div>
                    </div>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                SQLite
                                <div class="ui right floated">
                                    <span class="ui basic brown circular label">Relational</span>
                                    <span class="ui basic green circular label">Backend</span>
                                </div>
                            </div>
                            <div class="meta">
                                <a href="https://github.com/mackyle/sqlite" target="_blank" style="color:#6A6AFF;" class="with-popup" data-content="Github Repository"><i class="github alternate icon"></i></a>
                            </div>
                        </div>
                        <div class="extra content">
                            An embedded relational database.
                        </div>
                        <div class="extra content">
                            <div class="ui labels">
                                <a class="ui label with-popup" href="https://github.com/Depado/gopaste" target="_blank" data-content="Go, Goji, SQLite">Gopaste</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/MarkDownBlog" target="_blank" data-content="Python, Flask, SQLAlchemy, SQLite">MarkDownBlog</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/LostInNetwork" target="_blank" data-content="Python, Flask, SQLAlchemy, SQLite">LostInNetwork</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                PostgreSQL
                                <div class="ui right floated">
                                    <span class="ui basic brown circular label">Relational</span>
                                    <span class="ui basic green circular label">Backend</span>
                                </div>
                            </div>
                            <div class="meta">
                                <a href="https://github.com/postgres/postgres" target="_blank" style="color:#6A6AFF;" class="with-popup" data-content="Github Repository"><i class="github alternate icon"></i></a>
                            </div>
                        </div>
                        <div class="extra content">
                            Object-relational database management system with an emphasis on extensibility and standards-compliance. Mainly used in a professional environment.
                        </div>
                    </div>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                MySQL
                                <div class="ui right floated">
                                    <span class="ui basic brown circular label">Relational</span>
                                    <span class="ui basic green circular label">Backend</span>
                                </div>
                            </div>
                            <div class="meta">
                                <a href="https://github.com/mysql/mysql-server" target="_blank" style="color:#6A6AFF;" class="with-popup" data-content="Github Repository"><i class="github alternate icon"></i></a>
                            </div>
                        </div>
                        <div class="extra content">
                            MySQL Server, the world's most popular open source database. Mainly used in a professional environment.
                        </div>
                    </div>
                </div>
                <div class="ui raised segment">
                    <span class="ui red ribbon label">Environments</span>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Archlinux
                                <div class="ui right floated">
                                    <span class="ui basic red circular label">Work Station</span>
                                    <span class="ui basic orange circular label">Server</span>
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                            I'm currently working on my Archlinux laptop. It's been four years since I installed Arch and everything works fine (even though my root partition is currently full because of Docker). One of my raspberry also runs Arch and acts like a server for some
                            of my IRC bots.
                        </div>
                    </div>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Debian
                                <div class="ui right floated">
                                    <span class="ui basic orange circular label">Server</span>
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                            Most of my servers are running Debian (2 Scaleways, 1 OVH), I admnistrate those on a daily basis.
                        </div>
                    </div>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Alpine
                                <div class="ui right floated">
                                    <span class="ui basic orange circular label">Server</span>
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                            When working with Docker, I love Alpine because of its small size and all of its security aspects.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui raised segment">
                    <span class="ui red ribbon label">Frameworks</span>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Gin
                                <div class="ui right floated">
                                    <span class="ui basic violet circular label">HTTP</span>
                                    <span class="ui basic green circular label">Backend</span>
                                </div>
                            </div>
                            <div class="meta">
                                <a href="https://github.com/gin-gonic/gin" target="_blank" style="color:#6A6AFF;" class="with-popup" data-content="Github Repository"><i class="github alternate icon"></i></a>
                            </div>
                        </div>
                        <div class="extra content">
                            Performance oriented HTTP web framework for the Go language. I switched from Goji to Gin because of the ease of use and performance improvments.
                        </div>
                        <div class="extra content">
                            <div class="ui labels">
                                <a class="ui label with-popup" href="https://github.com/Depado/goploader" target="_blank" data-content="Go, Gin, BoltDB">Goploader</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/gomonit" target="_blank" data-content="Go, Gin">Gomonit</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/portfolio" target="_blank" data-content="Go, Gin">Portfolio</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/portfolio.v2" target="_blank" data-content="Go, Gin">Portfolio.V2</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/jagon-api" target="_blank" data-content="Go, Gin">Jagon-API</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/govue" target="_blank" data-content="Go, Gin, Vue.js, BoltDB">GoVue</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Flask
                                <div class="ui right floated">
                                    <span class="ui basic violet circular label">HTTP</span>
                                    <span class="ui basic green circular label">Backend</span>
                                </div>
                            </div>
                            <div class="meta">
                                <a href="https://github.com/pallets/flask" target="_blank" style="color:#6A6AFF;" class="with-popup" data-content="Github Repository"><i class="github alternate icon"></i></a>
                            </div>
                        </div>
                        <div class="extra content">
                            HTTP micro-framework for the Python language. The framework I enjoy the most for my personal projects.
                        </div>
                        <div class="extra content">
                            <div class="ui labels">
                                <a class="ui label with-popup" href="https://github.com/Depado/MarkDownBlog" target="_blank" data-content="Python, Flask, SQLAlchemy, SQLite">MarkDownBlog</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/flask-skeleton" target="_blank" data-content="Python, Flask, Jinja2">Flask-Skeleton</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/intrepid-frontend" target="_blank" data-content="Python, Flask">IntrePId-Frontend</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/LostInNetwork" target="_blank" data-content="Python, Flask, SQLAlchemy, SQLite">LostInNetwork</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/LostInNetworkWeb" target="_blank" data-content="Python, Flask">LostInNetwork Web</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Django
                                <div class="ui right floated">
                                    <span class="ui basic violet circular label">HTTP</span>
                                    <span class="ui basic green circular label">Backend</span>
                                </div>
                            </div>
                            <div class="meta">
                                <a href="https://github.com/django/django" target="_blank" style="color:#6A6AFF;" class="with-popup" data-content="Github Repository"><i class="github alternate icon"></i></a>
                            </div>
                        </div>
                        <div class="extra content">
                            HTTP framework for the Python language. The only framework I worked with professionnaly in Python.
                        </div>
                    </div>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Gorm
                                <div class="ui right floated">
                                    <span class="ui basic pink circular label">ORM</span>
                                    <span class="ui basic green circular label">Backend</span>
                                </div>
                            </div>
                            <div class="meta">
                                <a href="https://github.com/jinzhu/gorm" target="_blank" style="color:#6A6AFF;" class="with-popup" data-content="Github Repository"><i class="github alternate icon"></i></a>
                            </div>
                        </div>
                        <div class="extra content">
                            ORM for SQL databases for the Go language. Mostly used for my projects using SQLite.
                        </div>
                        <div class="extra content">
                            <div class="ui labels">
                                <a class="ui label with-popup" href="https://github.com/Depado/gopaste" target="_blank" data-content="Go, Goji, SQLite">Gopaste</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                SQLAlchemy
                                <div class="ui right floated">
                                    <span class="ui basic pink circular label">ORM</span>
                                    <span class="ui basic green circular label">Backend</span>
                                </div>
                            </div>
                            <div class="meta">
                                <a href="https://bitbucket.org/zzzeek/sqlalchemy" target="_blank" style="color:#6A6AFF;" class="with-popup" data-content="Bitbucket Repository"><i class="bitbucket icon"></i></a>
                            </div>
                        </div>
                        <div class="extra content">
                            ORM for SQL databases for the Python language. Mostly used in my Flask projects.
                        </div>
                        <div class="extra content">
                            <div class="ui labels">
                                <a class="ui label with-popup" href="https://github.com/Depado/MarkDownBlog" target="_blank" data-content="Python, Flask, SQLAlchemy, SQLite">MarkDownBlog</a>
                                <a class="ui label with-popup" href="https://github.com/Depado/LostInNetwork" target="_blank" data-content="Python, Flask, SQLAlchemy, SQLite">LostInNetwork</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Semantic UI
                                <div class="ui right floated">
                                    <span class="ui basic yellow circular label">Frontend</span>
                                </div>
                            </div>
                            <div class="meta">
                                <a href="https://github.com/Semantic-Org/Semantic-UI" target="_blank" style="color:#6A6AFF;" class="with-popup" data-content="Github Repository"><i class="github alternate icon"></i></a>
                            </div>
                        </div>
                        <div class="extra content">
                            Semantic is a UI component framework based around useful principles from natural language. (CSS and JS)
                        </div>
                        <div class="extra content">
                            <div class="ui labels">
                                <a class="ui label with-popup" href="https://github.com/Depado/portfolio.v2" target="_blank" data-content="Go, Gin">Portfolio.V2</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui raised segment">
                    <span class="ui red ribbon label">Devops</span>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Ansible
                                <div class="ui right floated">
                                    <span class="ui basic grey circular label">Deployment</span>
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                            I use Ansible on a daily basis to deploy my projects. Also used it in a professional environment to automate the servers provisionning.
                        </div>
                    </div>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Drone CI
                                <div class="ui right floated">
                                    <span class="ui basic grey circular label">Deployment</span>
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                            That docker based continuous integrator is perfect. I also use that daily to automate my builds and automate the production cycle.
                        </div>
                    </div>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Nginx
                                <div class="ui right floated">
                                    <span class="ui basic black circular label">Web Server</span>
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                            I used nginx before using Caddy and I keep using it because Caddy lacks some of nginx's features (caching, wildcards).
                        </div>
                    </div>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                Caddy
                                <div class="ui right floated">
                                    <span class="ui basic black circular label">Web Server</span>
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                            A modern web server with a tight integration with LetsEncrypt. I'm using this everywhere I can, it's a breeze to work with and has great performances.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{{ end }}
